.theme-toggle {
    padding: 6px 8px;
    font-size: 24px;
    background: none;
    border: none;
    /*background: #4f46e5;*/
    /*border: 2px solid #2c3e50;*/
    border-radius: 30px;
    cursor: pointer;
}