:root {
    --bg: #beb7b7;
    --text: #1a1a1a;
    --card: #ffffff;
    --accent: #8585d4;
}

* {
    box-sizing: border-box;
    text-align: center;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
}

body.dark {
    --bg: #1a1a2e;
    --text: #e5e5e5;
    --card: #16213e;
    --accent: #5751b2;
}